.footer {
  margin: 0 auto;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0 auto;
  padding: 67px 0 60px;
}

@media screen and (max-width: 480px) {
  .footer {
    max-width: 320px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    padding: 48px 19px 36px;
  }
}
